<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Productos</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Venta</th>
                        <th>Stock</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.codProducto}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precioCompra}}</td>
                        <td>{{producto.precioVenta}}</td>
                        <td>{{producto.stock}}</td>
                        <td><button (click)="editar(producto)" class="btn btn-info">Editar</button>
                            <button (click)="eliminar(producto)"  class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>