<div class="container pt-4">
    <div class="card">
        <div class="card-header">
            <h3>{{titulo}}
                <div *ngIf="loading" class="spinner-border float-right" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </h3>
        </div>
        <div class="card-body">
            <span *ngIf="submitted"></span>
            <form [formGroup]="formulario" (ngSubmit)="crearActualizarProducto()">
                <div class="from-group">
                    <label for="">Descripcion</label>
                    <input id="descripcion" formControlName="descripcion" type="text" class="form-control">
                    <label for="">Costo</label>
                    <input id="preciocompra" formControlName="costo" type="number" class="form-control">
                    <label for="">Venta</label>
                    <input id="precioventa" formControlName="venta" type="number" class="form-control">
                    <label for="">Stock</label>
                    <input id="stock" formControlName="stock" type="number" class="form-control">
                    <button type="text"  (click)="volver()" class="btn btn-warning">Volver</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
