<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Agregar producto</h3>
        </div>
        <div class="card-body">
           <form action="">
               <div class="from-group">
                   <label for="">Descripcion</label>
                   <input [(ngModel)]="producto.descripcion" name="descripcion" type="text" class="form-control">
                   <label for="">Costo</label>
                   <input [(ngModel)]="producto.preciocompra" name="costo" type="text" class="form-control">
                   <label for="">Venta</label>
                   <input [(ngModel)]="producto.precioventa" name="venta" type="text" class="form-control">
                   <label for="">Stock</label>
                   <input [(ngModel)]="producto.stock" name="stock" type="text" class="form-control">
                   <button (click)="actualizar()" class="btn btn-success">Guardar</button>
               </div>
           </form>
        </div>
    </div>
</div>
